Django
djangorestframework
django-cors-headers
python-decouple
psycopg2-binary
Pillow
django-filter
djangorestframework-simplejwt
requests
python-dotenv
django-storages[google]
boto3
django-admin-interface
django-admin-honeypot
django-ratelimit
django-axes
django-silk
django-debug-toolbar
django-extensions
werkzeug
django-redis
# celery
# redis
django-celery-beat
django-celery-results
django-guardian
django-model-utils
django-taggit
django-taggit-serializer
django-templated-mail
djoser
drf-yasg
drf-spectacular
drf-spectacular-sidecar
django-rest-swagger
django-restql
django-rest-auth
django-allauth
django-oauth-toolkit
django-social-auth
python-social-auth
social-auth-app-django
social-auth-core
dj-database-url
